<section id="section-crew" class="">
            {% for groupe in crew|batch(3) %}
                <div class="row">
                    {% for membre in groupe %}
                        <div class="col-lg-4 p-0">
                            <a href="#{{ membre.prenom }}Modal" data-toggle="modal">
                                <div class="card card-crew border-0">
                                    <img class="card-img-top rounded-0" src="../img/crew/{{ membre.prenom|lower }}.jpg" alt="Card image cap">
                                    <div class="position-absolute card-crew-overlay">
                                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                                            <h5 class="card-title">{{ membre.pseudo }}, {{ membre.age }}</h5>
                                            <p class="card-text card-crew-description">{{ membre.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div id="{{ membre.prenom }}Modal" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Do you want to close this dialog?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
</section>