<section id="news" class="pt-5 pb-5" style="background: #1b1e21">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center align-items-center justify-content-center align-content-center">
                <header>
                    <h1>Dernières news</h1>
                </header>
            </div>
        </div>
        <div class="row">
                    {% for post in posts %}
                        <div class="col-lg-4 p-1">
                        <article>
                            <div class="card bg-transparent text-white border-0 rounded-0">
                                <div class="position-relative">
                                <div  class="position-absolute fixed-bottom" style="padding: 1em; background: rgba(0,0,0,0.5);">test</div>
                                <img class="card-img rounded-0" src="../img/article/{{ post.image }}" alt="{{ post.title }}">

                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{ post.createdAt|date('F jS Y') }}</p>
                                <h5 class="article-title">{{ post.title }}</h5>
                                <p class="card-text text-truncate">{{ post.body }}</p>

                                </div>
                            </div>
                        </article>
                        </div>
                    {% endfor %}
                </div>
    </div>
</section>