<section id="news" class="pt-5 pb-5" style="background: #1b1e21">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center align-items-center justify-content-center align-content-center">
                <header>
                    <h1>Dernières news</h1>
                </header>
            </div>
        </div>
        <div class="row">
                    {% for post in posts %}
                        <div class="col-lg-4 p-1">
                        <article>
                            <div class="card bg-transparent text-white border-0 rounded-0">
                                <div class="position-relative custom-card-header">

                                    <div  class="overlay"></div>
                                    <a href="post/{{ post.id }}" class="btn-post" style="">Voir plus</a>
                                    <div  class="position-absolute fixed-bottom bandeau-info">
                                        <div class="float-left">test</div><div class="float-right">
                                            <img src="../img/comment.png" alt="">
                                        </div>
                                    </div>

                                    <img class="card-img rounded-0" src="../img/article/{{ post.image }}" alt="{{ post.title }}">
                                </div>
                                <div class="card-body">
                                    <p class="card-text"><span style="margin: 0 7px 0 0;" class="align-top"><img src="../img/time.png" alt=""></span>{{ post.createdAt|date('F jS Y') }}</p>
                                    <h5 class="article-title">{{ post.title }}</h5>
                                    <p class="card-text text-truncate">{{ post.body }}</p>
                                </div>
                            </div>
                        </article>
                        </div>
                    {% endfor %}
                </div>
    </div>
</section>